/* GLOBAL */
* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #ffedd5;
   font-family: 'Roboto', sans-serif;
   width: 100vw;
   height: 100vh;
}

ul {
   list-style: none;
   padding: 0 10px 0 10px;
}

/* FONTS */
h1,
h2,
h3,
.price {
   font-family: 'Roboto Serif', serif;
   text-transform: uppercase;
   color: #2D2C2A;
}

/* HEADER */
header{
   text-align: center;
   padding: 28px 0 14px 0;
}

header,
section {
   max-width: 400px;
   margin: 0 auto;
}

header h1 {
   margin-bottom: 4px;
   font-size: 28px;
   line-height: 33px;
}

header h1 span{
   color: #995000;
}

header p {
   color: rgba(0, 0, 0, 0.7);
   font-size: 14px;
   line-height: 16px;
   margin-bottom: 6px;
}


/* SECTION */
section {
   margin-bottom: 24px;
}

section h2 {
   background-color: #FED7AA;
   text-align: center;
   padding: 8px 16px;
   margin-bottom: 24px;
   font-size: 18px;
   line-height: 21px;
}

/* LISTAS */

ul li {
   display: flex;
   margin-bottom: 16px;
   justify-content: space-between;
}

li .details{
   max-width: 240px;
}

.details h3{
   margin-bottom: 8px;
   font-size: 16px;
   line-height: 19px;
}

.details p {
   color: rgba(0, 0, 0, 0.6);
   font-size: 14px;
   line-height: 21px;
}

hr {
   max-width: 400px;
   margin: auto;
   border: .5px solid #773e00; 
   background-color: #773e00;
   opacity: .2;
}

/* FOOTER */
footer {
   height: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
}

footer p {
   font-size: 14px;
   font-weight: 600;
   opacity: .8;
}

footer a {
   text-decoration: none;
   color: #773e00;
}

footer a:hover {
   color: #cb7410d8;
}